body{
    margin: 0%;
}
#container{
    background-color:#10847e;
    height: auto;
}
#container1{
    display: flex;
    margin-left: 40px;
}
#number{
    margin-left: 30px;
    height:40px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}
#search{
    height:40px;
    width: 500px;
    border-radius: 5px;
    text-align: center;
}
#container2{
    display: flex;
    margin-top: 5px;
    /* margin-left: 230px; */
  
}
a{
    color:rgb(251, 248, 248);
    text-decoration: none;
    font-size: 18px;
}
#container4 {
    height:60px;
    width:350px;
    display:flex;
    margin-top: -10px;
    margin-right: -300px;
    margin-left: 600px;
    align-items: center;
    justify-content: space evenly;
    gap: 30px;
}
#container4>a{
    gap:15px;
}
#container3{
    height:60px;
    width:500px;
    display:flex;
    margin-top: -10px;
      margin-left: 230px;
    margin-right: -300px;
    align-items: center;
    justify-content: space evenly;
    gap: 30px;
}
#cartlogo{
    margin-right: -20px;
    height: 20px;
    width: 20px;
}
#logo1{
    width: 200px;
    height: 50px;
}
#searchIcon{
    transform: translateX(480px);
}
#nav{
    transform: translate(1180px,-20px);
    font-size: 18px;
    color: white;
    margin-top: -80px;
}

