* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#slideShow1501 {
  width: 100%;
  margin: auto;
  position: relative;
}
.slide1502 {
  display: none;
}
#prev1503,
#next1504 {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  top: 40%;
  padding: 0 10px;
  color: white;
  font-weight: lighter;
}
#prev1503 {
  left: 0;
}
#next1504 {
  right: 0;
}
.slideImg1505 {
  width: 100%;
}
#dotdiv1507{
    text-align: center;
    position: relative;
    bottom:30px;
    
}
.dots1506 {
  border:1px solid rgb(207, 207, 207);;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgb(241, 237, 237);
  /* transition: background-color 0.6s; */
}
.active{
    background-color: #717171;
}

  
