#footer1563{
    width: 100%;
    height: 300px;
    padding: 2% 4%;
    margin: 30px 0 0 0;
    background-color:  #f2f5f5;
}
#footer1564{
    display: flex;
    width:320px;
    justify-content: space-between;
}
.footer1565{
    width: 150px;
}
.footer1565>a>img{
    width: 150px;
}
#footer1566{
    color: #4f585e;
    margin-bottom: 100px;
}
#footer1567{
    color: #4f585e;
    margin-bottom: 20px;
}
#footer1568{
    display: flex;
    width:100%;
    /* height: 600px; */
    background-color: #f4f7fb;
    padding: 2% 4%;
    justify-content: space-between;
}
.footer1569{
    width:320px;
    /* border: 1px solid red; */
    line-height: 35px;
}
#footer1573{
    display: flex;
    /* width: 320px; */
    flex-wrap: wrap;
    /* border: 1px solid red; */
}
.footer1570{
    width:70px;
    /* color: #10847e; */
    border-radius: 50%;
     /* border: 1px solid red; */
    

}
.footer1570>img{
    width: 100%;
    border-radius: 50%;

}
#Partner1571{
width: 100%;
padding: 10px 4% 30px 4%;

/* border: 1px solid red; */
background-color:  #f4f7fb;
color:#4f585e;
line-height: 30px
}
#Partner1572{
    display: flex;
    width:55%;
    justify-content: space-between;
}
#Partner1572>img{
    width:50px;
    height: 25px;
}